ul{
    list-style: none; 

    display: flex;
    flex-wrap: wrap;
}
/* operações */
.operations{
    justify-content: space-evenly;
    text-align: center;
    padding:0;
}
.operation{
    background-color: rgb(180, 179, 179);
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    width: 20%;
}
.operation:hover{
    background-color: rgb(112, 209, 241);
    box-shadow: 0.4px 0 5px black;
}
/* números*/
.numbers{
    text-align: center;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
}
.number{
    background-color: rgb(180, 179, 179);
    border: 0.03px solid rgb(58, 110, 110);
    border-radius: 5px;
    height: 100%;
    font-size: 2rem;
    margin: 4px;
    width: 30%;
}
.number:hover{
    background-color: lightblue;
    box-shadow: 0.4px 0 5px black;
}

/*botões reset e apaga*/
.reset{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
.reset__item{
    width: 49.4%;
    border:1px inset rgb(17, 92, 143);
    border-radius: 2px;;
    background-color: rgb(180, 179, 179);
}
.reset__item:hover{
    background-color: darkred;
    color:white;
}

/*container principal*/
.container {
    background-color: rgb(199, 195, 195);
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 0.75px 0.75px 5px black;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    top: 30px;
    width: 350px;
    z-index: 3;
}
.container-z{
    z-index: 0;
    background-color: black;
    opacity: 100%;
}

/* divs laterais*/

.container__left{
    align-items: center;
    background-color: rgba(163, 159, 159, 0.418);
    border: 1px solid black;
    border-radius: 20px;
    float:initial;
    height: 100%;
    left: -15px;
    position: absolute;
    top: 0;
    transition: left 1s;
    width: 200px;
    z-index: -5; 
}
.container__left:hover{
    left: -25px;
    background-image: black;
}

.container__right{
    background-color: rgba(122, 120, 120, 0.418);
    border: 1px solid black;
    border-radius: 20px;
    height: 100%;
    position: absolute;
    right: -15px;
    text-align: center;
    top: 0;
    transition: right 2s;
    width: 200px;
    z-index: -5;     
}
.container__right-hidden{
    visibility: hidden;
    transition: 0.10s;
}

.container__right-normal{
    right: -180px;
    visibility: normal;
    transition: right 1s;
}

.little-container__right{
    background-color: rgba(122, 120, 120, 0.418);
    border: 1px solid black;
    border-radius: 0 25px 25px 0;
    height: 75%;
    position: absolute;
    right: -15px;
    text-align: center;
    top: 50px;
    transition: 3s;
    width: 18px;
    z-index: -5;
}
.little-container__right-hidden{
    visibility: hidden;
}
.little-container__right:hover{
    width: 35px;
    right: -20px;
    height: 100%;
    top: 0;
    transition: top 0.5s, height 0.5s;
}

.container__texto-grande{
    position: relative;
    transform: rotate(-90deg); 
    top: 50%;
    right: -90px;
}
.container__texto-pequeno {
    position: relative;
    transform: rotate(-90deg);
    top: 50%;
    right: -2px;
}

